OPENAI_API_KEY="YOUR OPENAI_API_KEY"
MAKE_API_TOKEN="YOUR MAKE_API_TOKEN"
MAKE_API_BASE_URL=https://us2.make.com/api/v2
WEBHOOK_URL=https://domuaidev2025.app.n8n.cloud/webhook/f1f9f82d-efd4-4b8d-be50-00ddf112dcee
ANALYTICS_WEBHOOK_URL=https://hook.us2.make.com/a2a1fpry1uitrm2i9g7t0cghx3pk733q